#theForm{
    color:white;
    display: table;
    background-color: #2c8F77;
    border: 2px black solid;
    padding: 15px;
}

div.row{
    display: table-row;
}
div.row label{
    display: table-cell;
    padding: 2px;
    text-align: right;
}

div.row input{
    display: table-cell;
    padding:2px;
}