body{
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    background-color:rgb(255, 180,104);
    font-size: 25px;
    margin: 10px;
   

    
}
h1.firstpageheader1{
    text-decoration: underline;
    font-size: 150%;
}

#heading2Id{
    text-decoration: underline;
    font-size: 1em;
    text-align: center;
}
p.blue{  
    color:blue;  
}

p.purple{  
    color:purple;  
   

}

p.para3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    color:purple;
    line-height: 2em;
    background-color: rgb(234,234,234);
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-image: url("https://i.pinimg.com/originals/d4/d6/06/d4d6062d45c6cf749a266e4ca26ffeae.jpg");
    background-repeat: no-repeat repeat;
    background-size:cover;
    border-radius: 10px;
}

#homepage4Id{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    color:black;
    line-height: 2em;
    background-color: rgb(234,234,234);
    padding: 20px;
    border-color: blue;
    border-width: thik;
    border-style: solid;
    margin: 20px;
    margin-top: 50px;
    margin-left:400px;
    border-radius: 10px;
}

img.imagec{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span.highlight{
    color:black
}

a:link{
    color:blue;
}
a:visited{
    color:red;
}
a:hover{
    color:gray;
}